__pycache__/
GAPartNet_All
perception/
wandb/
ckpt/
image_kuafu
output/GAPartNet_result/
test/
visu/
example_rendered/
partnet_mobility_part
ckpts/
assets/
data/
pointnet2_ops_lib/
gapartnet/output/
interactive_output/